[type="date"] {
    background: #fff
      url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
      97% 50% no-repeat;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  
  label {
    display: block;
  }
  .t {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 170px;
  }
  
  .datet {
    text-decoration: none;
    color: transparent;
    padding: 40px 80px;
    font-size: 28px;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 0.5s;
    position: relative;
  }
  .datet:before {
    content: "PAY";
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 235, 211);
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 80%;
    width: 30%;
    position: absolute;
    transform: scale(0) rotatey(0);
    opacity: 0;
  }
  .datet:hover:before {
    transform: scale(1) rotatey(360deg);
    left: 0;
    opacity: 1;
  }
  .datet:after {
    content: "PAY";
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(226, 243, 238);
    background: rgb(34, 34, 34);
    font-size: 28px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 80%;
    width: 30%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
  }
  .datet:hover:after {
    transform: scale(0) rotatey(360deg);
    left: -100%;
    opacity: 0;
  }