@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.Dropdown {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.selectColor {
  position: relative;
  padding: 10px;
  border: none;
  border-right: 10px solid #fff;
  outline: none;
  width: 200px;
  border-radius: 4px;
  background-color: black;
  color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
